* {
    margin: 0;
    padding: 0;
}

.form {
    background-color: aqua;
    width: 40%;
    margin: auto;
    position: relative;
    top: 100px;
    padding: 20px;
    border-radius: 5px;
}

.form div {
    background-color: rgb(6, 69, 69);
    padding: 20px 0px 20px 20px;
    border-radius: 10px;
}

.form div input,
.form div textarea {
    width: 90%;
    display: block;
    margin-top: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    padding: 10px 0px 10px 10px;
    background-color: transparent
}

textarea {
    height: 10vh;
}

.form input::placeholder,
.form textarea::placeholder {
    color: white;
    font-size: 14px;
}

.form div button {
    display: block;
    width: 90%;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(28, 20, 185);
    color: white;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}